.dropdown {
  position: relative;
  border-radius: 3em;
  padding: 0.5em 0.75em 0.5em 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--color-border-light);
  background-color: var(--color-white);
}

.dropdown-avatar {
  width: 2.25em;
  height: 2.25em;
  border-radius: 50%;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.dropdown-caret {
  width: 0.75em;
  height: 0.75em;
  border: 4px solid var(--color-primary);
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
  margin-left: 0.75em;
  margin-bottom: 0.5em;
}

.dropdown-caret--open {
  transform: rotate(-135deg);
  margin-top: 0.5em;
}

.dropdown-panel {
  position: absolute;
  top: 3.75em;
  right: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-light);
  border-radius: 1.5em;
  box-shadow: 0 4px 8px var(--color-shadow);
  z-index: 1000;
  min-width: 11em;
}

.dropdown-item {
  padding: 1em 0.5em;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.95em;
  font-weight: 500;

  &:first-child {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
    border-bottom: 1px solid var(--color-border-light);
  }

  &:last-child {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
  }

  &.clickable:hover {
    background-color: var(--color-black-100);
  }
}

.dropdown-name {
  font-weight: 500;
  color: var(--color-primary);
}
