/* Base Button Styles */
.button {
  display: inline-block;
  border-radius: 3em;
  padding: 1.25em 3em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.25em;
  font-size: 0.7em;
  transition: all 0.2s ease;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:disabled,
.button[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

/* FULL WIDTH */
.button--full-width {
  display: block;
  width: 100%;
}

/* OUTLINED STYLE */
.button--outlined {
  background-color: transparent;
  border: 1px solid currentColor;
  border-style: solid;
}

.button--outlined:disabled,
.button--outlined[disabled] {
  border-color: var(--color-gray-400);
  color: var(--color-gray-400);
  background-color: transparent;
  cursor: not-allowed;
}

/* TEXT STYLE */
.button--text {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.button--text:disabled,
.button--text[disabled] {
  color: var(--color-gray-400);
  background-color: transparent !important;
  border: none !important;
  cursor: not-allowed;
}

/* SOLID STYLE */
.button--solid {
  border: none !important;
  color: var(--color-white) !important;
}

.button--solid:disabled,
.button--solid[disabled] {
  background-color: var(--color-gray-400);
  border: none !important;
  color: var(--color-white) !important;
  cursor: not-allowed;
}

/* COLOR MODIFIERS */

/* Primary */
.button--outlined.button--primary {
  border: 1px solid var(--color-primary);
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: transparent;
}

.button--outlined.button--primary:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

.button--outlined.button--primary:disabled,
.button--outlined.button--primary[disabled] {
  border-color: var(--color-gray-400);
  color: var(--color-gray-400);
}

.button--text.button--primary {
  color: var(--color-primary);
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.button--text.button--primary:hover {
  color: var(--color-primary);
  background-color: var(--color-primary-light) !important;
}

.button--text.button--primary:disabled,
.button--text.button--primary[disabled] {
  color: var(--color-gray-400);
}

.button--solid.button--primary {
  background-color: var(--color-primary);
  color: var(--color-white) !important;
  border: none !important;
}

.button--solid.button--primary:hover {
  background-color: var(--color-primary-dark);
}

.button--solid.button--primary:disabled,
.button--solid.button--primary[disabled] {
  background-color: var(--color-gray-400);
  color: var(--color-white) !important;
}

/* Success */
.button--outlined.button--success {
  border: 1px solid var(--color-success);
  border-color: var(--color-success);
  color: var(--color-success);
  background-color: transparent;
}

.button--outlined.button--success:hover {
  border-color: var(--color-success);
  color: var(--color-success);
  background-color: var(--color-success-light);
}

.button--outlined.button--success:disabled,
.button--outlined.button--success[disabled] {
  border-color: var(--color-gray-400);
  color: var(--color-gray-400);
}

.button--text.button--success {
  color: var(--color-success);
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.button--text.button--success:hover {
  color: var(--color-success);
  background-color: var(--color-success-light) !important;
}

.button--text.button--success:disabled,
.button--text.button--success[disabled] {
  color: var(--color-gray-400);
}

.button--solid.button--success {
  background-color: var(--color-success);
  color: var(--color-white) !important;
  border: none !important;
}

.button--solid.button--success:hover {
  background-color: var(--color-success-dark);
}

.button--solid.button--success:disabled,
.button--solid.button--success[disabled] {
  background-color: var(--color-gray-400);
  color: var(--color-white) !important;
}

/* Error */
.button--outlined.button--error {
  border: 1px solid var(--color-error);
  border-color: var(--color-error);
  color: var(--color-error);
  background-color: transparent;
}

.button--outlined.button--error:hover {
  border-color: var(--color-error);
  color: var(--color-error);
  background-color: var(--color-error-light);
}

.button--outlined.button--error:disabled,
.button--outlined.button--error[disabled] {
  border-color: var(--color-gray-400);
  color: var(--color-gray-400);
}

.button--text.button--error {
  color: var(--color-error);
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.button--text.button--error:hover {
  color: var(--color-error);
  background-color: var(--color-error-light) !important;
}

.button--text.button--error:disabled,
.button--text.button--error[disabled] {
  color: var(--color-gray-400);
}

.button--solid.button--error {
  background-color: var(--color-error);
  color: var(--color-white) !important;
  border: none !important;
}

.button--solid.button--error:hover {
  background-color: var(--color-error-dark);
}

.button--solid.button--error:disabled,
.button--solid.button--error[disabled] {
  background-color: var(--color-gray-400);
  color: var(--color-white) !important;
}

/* Info */
.button--outlined.button--info {
  border: 1px solid var(--color-info);
  border-color: var(--color-info);
  color: var(--color-info);
  background-color: transparent;
}

.button--outlined.button--info:hover {
  border-color: var(--color-info);
  color: var(--color-info);
  background-color: var(--color-info-light);
}

.button--outlined.button--info:disabled,
.button--outlined.button--info[disabled] {
  border-color: var(--color-gray-400);
  color: var(--color-gray-400);
}

.button--text.button--info {
  color: var(--color-info);
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.button--text.button--info:hover {
  color: var(--color-info);
  background-color: var(--color-info-light) !important;
}

.button--text.button--info:disabled,
.button--text.button--info[disabled] {
  color: var(--color-gray-400);
}

.button--solid.button--info {
  background-color: var(--color-info);
  color: var(--color-white) !important;
  border: none !important;
}

.button--solid.button--info:hover {
  background-color: var(--color-info-dark);
}

.button--solid.button--info:disabled,
.button--solid.button--info[disabled] {
  background-color: var(--color-gray-400);
  color: var(--color-white) !important;
}
