.form-template {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 16px;
}

.form-template .input__wrapper {
  grid-column: span 1;
}

.form-template__submit {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .form-template {
    grid-template-columns: 1fr;
  }

  .form-template .input__wrapper,
  .form-template__submit {
    grid-column: span 1;
  }

  .form-template__submit .button {
    width: 100%;
  }
}
