.link {
  display: inline;
  background: transparent;
  border: none;
  padding: 0;
  text-transform: none;
  font-weight: inherit;
  letter-spacing: normal;
  font-size: inherit;
  line-height: inherit;
  transition: text-decoration-color 0.2s ease, color 0.2s ease;
  cursor: pointer;
  text-decoration: none;
}

.link--primary {
  color: var(--color-primary);
}

.link--primary:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-primary);
}

.link--secondary {
  color: var(--color-gray-500);
}

.link--secondary:hover {
  text-decoration: underline;
  text-decoration-color: var(--color-gray-500);
}
